<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Formulario de Cliente</title>
	</head>
	<body>
		<header>
			<h1>Registro de Cliente</h1>
		</header>
		
		<form action="#" method="post">
			<label for="dni">DNI:</label>
			<input id="dni" name="dni" type="number" required>
			<br>
			<label for="nombres">Nombres:</label>
			<input id="nombres" name="nombres" type="text" required>
			<br>
			<label for="apellidos">Apellidos:</label>
			<input id="apellidos" name="apellidos" type="text" required>
			<br>
			<label for="fechaDeNacimiento">Fecha de nacimiento:</label>
			<input id="fechaDeNacimiento" name="fechaDeNacimiento" type="date" required>
			<br>
			<label>Genero:</label>
			<br>
			<input type="radio" id="femenino" name="genero" value="femenino">
        	<label for="femenino">Femenino</label>
        	<input type="radio" id="masculino" name="genero" value="masculino">
        	<label for="masculino">Masculino</label>
        	<input type="radio" id="x" name="genero" value="x">
        	<label for="x">X</label>
        	<br>
			<label for="email">Correo electronico:</label>
			<input id="email" name="email" type="email" required>
			<br>
			<label for="domicilio">Domicilio:</label>
        	<input type="text" id="domicilio" name="domicilio" required>
        	<br>
        	<label for="provincia">Provincia:</label>
        	<select id="provincia" name="provincia" required>
        		<option value="" disabled selected>Seleccione una provincia</option>
            	<option value="buenos-aires">Buenos Aires</option>
				<option value="catamarca">Catamarca</option>
				<option value="chaco">Chaco</option>
				<option value="chubut">Chubut</option>
            	<option value="cordoba">Córdoba</option>
				<option value="corrientes">Corrientes</option>
				<option value="entre-rios">Entre Ríos</option>
				<option value="formosa">Formosa</option>
            	<option value="jujuy">Jujuy</option>
				<option value="la-pampa">La Pampa</option>
				<option value="la-rioja">La Rioja</option>
				<option value="mendoza">Mendoza</option>
				<option value="misiones">Misiones</option>
				<option value="neuquen">Neuquén</option>
				<option value="rio-negro">Río Negro</option>
				<option value="salta">Salta</option>
				<option value="san-juan">San Juan</option>
				<option value="san-luis">San Luis</option>
				<option value="santa-cruz">Santa Cruz</option>
            	<option value="santa-fe">Santa Fe</option>
				<option value="santiago-del-estero">Santiago del Estero</option>
				<option value="tierra-del-fuego">Tierra del Fuego</option>
				<option value="tucuman">Tucumán</option>
        	</select>
        	<br>
        	<label for="telefono">Telefono:</label>
        	<input id="telefono" name="telefono" type="number">
		</form>
	</body>
</html>