<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Formulario de Cliente</title>
	</head>
	<body>
		<header>
			<h1>Registro de Cliente</h1>
		</header>
		
		<form action="#" method="post">
			<label for="dni">DNI:</label>
			<input id="dni" name="dni" type="number" required>
			<br>
			<label for="nombres">Nombres:</label>
			<input id="nombres" name="nombres" type="text" required>
			<br>
			<label for="apellidos">Apellidos:</label>
			<input id="apellidos" name="apellidos" type="text" required>
			<br>
		</form>
	</body>
</html>