<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Trabajo Practico 3</title>
	</head>
	<body>
		<header>
			<h1>Bienvenido a Programación Visual</h1>
		</header>
		<nav>
      		<ul>
        		<li>
          			<a href="#programacion">¿Qué es la programación?</a>
        		</li>
        		<li>
          			<a href="#lenguaje">Lenguaje</a>
        		</li>
        		<li>
          			<a href="#tipos-datos-java">Tipos de datos</a>
        		</li>
        		<li>
          			<a href="#aside">Más datos</a>
        		</li>
      		</ul>
    	</nav>
    	<main>
    		<section id="programacion">
        		<h2>¿Qué es la Programación?</h2>
        		<p>
          			“El término programación se define como un conjunto de instrucciones
          			consecutivas y ordenadas que llevan a ejecutar una tarea específica.
          			Dichas instrucciones se denominan “código fuente”, el cual es único
          			para cada lenguaje y está diseñado para cumplir una función o
          			propósito específico.
        		</p>
      		</section>
      		<section id="lenguaje">
        		<h2>Lenguaje de Programación</h2>
        		<p>
          			Un lenguaje de programación es una “estructura que, con una cierta
          			base sintáctica y semántica, imparte distintas instrucciones a un
          			programa de computadora”
        		</p>
        		<p>Un lenguaje de programación está compuesto por:</p>
        		<ul>
          			<li>Símbolos</li>
          			<li>Reglas sintácticas y Semánticas</li>
          			<li>Estructura</li>
          			<li>Significado</li>
          			<li>Elementos y expresiones</li>
        		</ul>
      		</section>
      		<section id="tipos-datos-java">
      			<h2>Tipos de datos en JAVA</h2>
      			<table>
      				<thead>
      					<tr>
      						<th>Nombre</th>
      						<th>Declaración</th>
      						<th>Rango</th>
      						<th>Descripción</th>
      					</tr>
      				</thead>
      			</table>
      		</section>
    	</main>
	</body>
</html>