<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Trabajo Practico 3</title>
	</head>
	<body>
		<header>
			<h1>Bienvenido a Programación Visual</h1>
		</header>
		<nav>
      		<ul>
        		<li>
          			<a href="#programacion">¿Qué es la programación?</a>
        		</li>
        		<li>
          			<a href="#lenguaje">Lenguaje</a>
        		</li>
        		<li>
          			<a href="#tipos-datos-java">Tipos de datos</a>
        		</li>
        		<li>
          			<a href="#aside">Más datos</a>
        		</li>
      		</ul>
    	</nav>
    	<main>
    		
    	</main>
	</body>
</html>